body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.right-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.quote{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 130px;
    margin: 100px;
    padding: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-size: 22px;
}

.footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(50, 64, 92);
    color: #F9FAF8;
}

.b1{
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    width: 200px;
    margin: 0;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.parag{
    display: flex;
    flex-wrap: wrap;
    font-style: italic;  
    width: 50rem; 
    font-size: 36px;
}

.autor{
    display: flex;
    justify-content: end;
    align-items: end;
    font-weight: 700;
}

.naslov-info{
    display: flex;
    font-size: 36px; 
    font-weight: 900; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
}