body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

.header{
    height: 10vh;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
}

.header2{
    display: flex; 
    flex-direction: row; 
    background-color: #1F2937; 
    padding: 100px; 
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}

nav ul li{
    display: inline-block;
    align-items: center;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    padding-right: 10px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px;
}

.quote{
    padding: 50px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 130px;
    margin: 100px;
    padding: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-size: 22px;
}

.footer{
    height: 5vh;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(50, 64, 92);
    color: #F9FAF8;
}

.b1{
    background-color: #3882F6;
    border-color: #3882F7;
    border-radius: 8px;
    color: #F9FAF8;
    width: 200px;
    margin: 0;
    padding: 10px;
}

.b2{
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    width: 200px;
    margin: 0;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.parag{
    display: flex;
    flex-wrap: wrap;
    font-style: italic;  
    width: 50rem; 
    font-size: 36px;
    margin: auto;
}

.autor{
    padding-top: 30px;
    position: relative;
    text-align: right;
    font-weight: 700;
    justify-content: left;
    margin-right: 30%;
}

.naslov-info{
    display: flex;
    font-size: 36px; 
    font-weight: 900; 
    justify-content: center; 
    text-align: center;
    align-items: center;
    padding: 20px;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #F9FAF8;
    padding: 100px 300px 100px 300px;
    margin-left: 50px;
}

.okvir{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: gray;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}